<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ian.demo.service.dao.OrderMapper">
     <select id="listByRowNum" resultType="io.ian.demo.service.entity.Order">
        SELECT
            A.*
        FROM
            (
            SELECT
                @rownum := @rownum + 1 AS rowNum,
                t.id,t.name,t.create_time,t.user_name
            FROM
                t_order_${suffix} t,
                ( SELECT @rownum := 0 ) r
            <trim prefix="WHERE" prefixOverrides="AND|OR">
                <if test="userName != null and userName != ''">
                   AND t.user_name = #{userName}
                </if>
            </trim>
            ORDER BY
                create_time DESC,id
            ) A
        WHERE
            A.rowNum > #{rowNum}
            LIMIT #{size}
    </select>
</mapper>
